.c-tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  background: lightyellow;
  height: 100vh;
  width: 100%;

  &__header {
    display: flex;
  }

  &__tab-content {
    padding: 20px;
  }

  &__tab-buttons {
    display: flex;
    background: orange;
    cursor: pointer;
    user-select: none;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tab-dropdown {
    position: relative;
    background: lightyellow;
    cursor: pointer;

    &-item {
      display: block;
      overflow: hidden;
      padding: 12px 0;
      margin: 0 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      user-select: none;

      &--active {
        font-weight: 600;
      }

      &:last-of-type {
        border: 0;
      }
    }

    &-toggle {
      position: relative;
      padding: 20px;
    }

    &-box {
      position: absolute;
      top: calc(50% + 5px);
      left: calc(50% - 250px);
      width: 250px;
      background: white;
      border-radius: 3px;
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    }

    &-box--hidden {
      display: none;
    }
  }

  &__tab-button {
    padding: 20px;
    flex: 0 0 auto;

    &--active {
      background: lightyellow;
    }
  }
}
